{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Olvidó contraseña</title>
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5 pt-lg-md">
  <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5">
          <div class="alert alert-danger" role="alert">
            <h4 class="text-center">Error al intentar restablecer contraseña!</h4>
          </div>
      </div>
  </div>
</div>
  
{% endblock %}

{% block footer %}
<div id="fondo" class="row align-items-end justify-content-between" style="height: 80vh; margin-top: -140px;">
  <img class=" float-left" src="{% static  'img/left.png' %}" alt="left" style="height: 40vh;"/>

  <img class=" float-right" src="{% static  'img/right.png' %}" alt="right" style="height: 40vh;"/>
</div>
{% endblock %}