{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Cambiar contraseña</title>
{% endblock %}

{% block content1 %}
<div class="container mt-5 pt-5 pt-lg-md">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card shadow text-center py-4 px-5 " >
                <div >
                    <h4>Restablecer la contraseña</h4>
                </div>

                <form action="{% url 'reset-user-password' uidb64 token %}" method="post" id="form-reset-pass">
                    {% csrf_token %}

                    <div class="form-group pt-4 pb-2">
                        <input type="text" name="cedula" placeholder="Ingrese su cédula" id="cedula" class="form-control form-control-sm"/>
                    </div>

                    <div class="form-group pb-2">
                        <input type="password" name="password" placeholder="Nueva contraseña" id="passwordField" class="form-control form-control-sm"/>
                    </div>

                    <div class="form-group pb-2">
                        <input type="password" name="password2" placeholder="Confirmar contraseña" id="passwordField2" class="form-control form-control-sm"/>
                    </div>
                    
                    {% if messages %}
                        <div class="text-left pb-2" style="color: red">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group pb-2">
                        <button type="submit" class="btn btn-dark btn-block" id="btn-reset-pass">
                            
                            <div class="spinner-border text-light d-none" id="spinner-reset-pass" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span id="text-btn-reset-pass">
                                Actualizar contraseña
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
</div>
{% endblock %}

{% block footer %}
<div id="fondo" class="row align-items-end justify-content-between" style="height: 70vh; margin-top: -300px;">
    <img class=" float-left" src="{% static  'img/left.png' %}" alt="left" style="height: 40vh;"/>

    <img class=" float-right" src="{% static  'img/right.png' %}" alt="right" style="height: 40vh;"/>
</div>
{% endblock %}